.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Self-message {
  color: white;
  background-color: #324359;
  text-align: right;
  width: 80%;
}

.Friend-message {
  color: black;
  background-color: #D9D9D9;
  text-align: left;
  width: 80%;
}

.Chat-view {
  border: 5px solid black;
  width: 400px;
  margin-left:200px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
